<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>ShareSpell</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{{ url_for('static' , filename = 'favicon.png') }}" rel="icon">
    <link href="{{ url_for('static' , filename = 'apple-touch-icon.png') }}" rel="apple-touch-icon">
  
    <link rel="stylesheet" 
    href="{{ url_for('static' , filename = 'global.css') }}"/>
    <link rel="stylesheet" 
    href="{{ url_for('static' , filename = 'index.css') }}"/>
    <link
      rel="stylesheet"
      
      href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
  </head>
  <body>
    <nav class="frame">
      <div class="rectangle"></div>
      <div class="blog">blog</div>
      <div class="about">About</div>
      <div class="home">home</div>
      <div class="account">Account</div>
      <div class="priyanshi-soni">Priyanshi Soni</div>
    <img class="rectangle-icon" alt="" src="{{ url_for('static' , filename = 'rectangle@2x.png') }}" />

    <div class="priyanshi-soni1">Priyanshi Soni</div>
    <div class="developer-researcher">
      Developer | Researcher | Open Souce Enthusiast
    </div>
    <div class="regular-user">Regular User</div>
   <img class="compose-icon" alt="" 
      src="{{ url_for('static' , filename = 'compose@2x.png') }}"/>
      <img class="rectangle-icon1" alt="" src="{{ url_for('static' , filename = 'blog-author.jpg') }}" />
    
      <div class="sharespell">
        <p class="sharespell1">ShareSpell</p>
      </div>
      <div class="rectangle1"></div>
      <div class="posts">Posts</div>
      <div class="nov-20-parent">
        <div class="nov-20">Nov 20</div>
        <div class="dbgenieplus-effortless-databa">
          DBGeniePlus: Effortless Database Creation and Population with Python
        </div>
        <div class="introduction-databases-are">
          Introduction Databases are like organized treasure chests for data,
          and they’re super important in the world of computer stuff. But
          setting up databases and filling them with data can be a bit tricky
          and time-consuming. Imagine if there was a tool that could do this for
          you ! Well, good news…
        </div>
        <img
          class="menu-vertical-icon"
          alt=""
          src="{{ url_for('static' , filename = 'menu.png') }}"
        />
      </div>
    </nav>
  </body>
</html>

