<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ShareSpell</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static' , filename = 'favicon.png') }}" rel="icon">
  <link href="{{ url_for('static' , filename = 'apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static' , filename = 'aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static' , filename = 'style.css') }}" rel="stylesheet" rel="stylesheet">

  <link
    rel="stylesheet"
    
    href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
  />

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <div class="logo">
          <h1 class="text-light"><a href="{{ url_for('index')}}">ShareSpell</a></h1>
        
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            
            <li><a href="{{ url_for('posts.newPost') }}" rel="stylesheet">Write</a></li>
           
           
            <li><a  href="{{ url_for('posts.get_posts_and_tags')}}">Blogs</a></li>
           
            <li class="dropdown">
              <a class="getstarted" href="#"><span>Get Started</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
                <li><a href="{{ url_for('users.account')}}">Account</a></li>
                
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header>
    <main id="main">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="breadcrumb-hero">
              <div class="container">
                <div class="breadcrumb-hero">
                  <h2>SpellBook</h2>
                  <p>Welcome to our SpellBook, a hub of shared insights! Explore our list of posts where practical knowledge meets community collaboration. Each entry is a valuable piece of the puzzle, contributing to a collective pool of expertise. Join us in discovering the power of shared learning through the straightforward, easy-to-navigate list of posts. At Sharespell, knowledge is just a click away. </p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="container">
                <ol>
                  <li><a href="{{ url_for('index')}}">Home</a></li>
                  <li> Author Posts</li>
                </ol>
              </div>
              <div class="container"></div>
          </section>

            <section id="blog" class="blog">
              <div class="container" data-aos="fade-up">
        
                <div class="row">
        
                  <div class="col-lg-8 entries">
                    {% if user_posts is not none %}
                    {% for post in user_posts %}
            <article class="entry">
  
              <h2 class="entry-title">
                <a href="{{ url_for('singlepost.view_post', post_id=post.post_id) }}" rel="stylesheet">{{post.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> {{post.create_date}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> comments: {{post.comment_count}}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-arrow-up"></i> upvotes: {{post.upvote_count}} </li>
                  <li class="d-flex align-items-center"><i class="bi bi-arrow-down"></i> downvotes: {{post.downvote_count}}</li>
                  <li class="d-flex align-items-center">
                    {% if current_user is not none %} {% if current_user == Username %}
                    <form method="post" action="{{ url_for('posts.delete_post') }}">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button type="submit" class="delete-post-btn" style="border: none; background: none; font-size: 1em; color: #9bc016; cursor: pointer;"><i class="bi bi-trash"></i></button>
                    </form><form method="post" action="{{ url_for('posts.edit_post', post_id=post.post_id) }}">
                      <button type="submit" class="edit-post-btn" style="border: none; background: none; font-size: 1em; color: #9bc016; cursor: pointer;"><i class="bi bi-pencil"></i></button>
                  </form>

                {% endif %}{% endif %}
                    
                  </li>
                </ul>
              </div>

              <div class="entry-content">
                <p> <p>{{ post.body.split()[:25] | join(' ') }}...</p><div class="read-more">
                  <a href="{{ url_for('singlepost.view_post', post_id=post.post_id) }}" rel="stylesheet"> Read More</a>
                </div>
              </div>

            </article>{% endfor %}
            {% endif %} </div>
            <div class="col-lg-4">
  
              <div class="sidebar blog-author ">
  
               
              <div class=" d-flex align-items-center">
                <img class="author rounded-circle float-left" alt="" src="{{ url_for('static', filename=user_info.Gravatar_url) }}" />
            
              </div>
              <br><br>{% if user_info is not none %}
              
              <div>
                <h4 class="sidebar-title">{{user_info.display_name}}</h4>
                <div class="social-links">
                  <i>{{user_info.role}}</i><div><i>{{user_info.email}}</i></div>
                </div>
                <p>{{user_info.about_me}}
                </p>
              </div>
              {% endif %}
                
              </div><!-- End sidebar -->
  
            </div><!-- End blog sidebar -->
  
          </div>
  
        </div>
      </section>
          
        </div>
    </main>

  <!-- ======= Footer ======= -->
 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>ShareSpell</h3>
          <p>Step into the enchanted world of ShareSpell & explore the collective wisdom of our community. Dive into a tapestry of insights, expertise, and shared resources. Each post is a brushstroke, contributing to a masterpiece of knowledge. Join us in shaping the narrative of shared learning.</p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('index')}}#about">About us</a></li>
            <li><a href="{{ url_for('index')}}#services">Services</a></li>
           
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            <strong>Email:</strong> sonipriyanshi.ps99@gmail.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">

    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ url_for('static' , filename = 'purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static' , filename = 'aos.js') }}"></script>
<script src="{{ url_for('static' , filename = 'bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static' , filename = 'glightbox.min.js') }}"></script>
<script src="{{ url_for('static' , filename = 'isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static' , filename = 'swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static' , filename = 'noframework.waypoints.js') }}"></script>


<!-- Template Main JS File -->
<script src="{{ url_for('static' , filename = 'main.js') }}"></script>

</body>

</html>