<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ShareSpell</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static' , filename = 'favicon.png') }}" rel="icon">
  <link href="{{ url_for('static' , filename = 'apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static' , filename = 'aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename = 'swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static' , filename = 'style.css') }}" rel="stylesheet" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="#" >ShareSpell</a></h1>
      
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{{ url_for('index')}}">Home</a></li>
          <li><a href="#about"><span>About</span> </a>
          </li>
          <li><a href="#services">Services</a></li>
          
        
          {% if user_id is not none %}
            <li><a  href="{{ url_for('get_posts_and_tags')}}">Blogs</a></li>
            <li><a class="getstarted" href="{{ url_for('auth.logout')}}"><span>Logout</span> </a></li>
           
              {% else  %}
            <li class="dropdown">
              <a class="getstarted" href="#"><span>Get Started</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
              
                <li><a href="{{ url_for('auth.login')}}">Login</a></li>
                <li><a href="{{ url_for('auth.registration')}}">Register</a></li>
                <li><a href="{{ url_for('auth.registration')}}">Admin Login</a></li>
              
              </ul>
            </li>{% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero"style="background-image: url('{{ url_for('static', filename='hero2.png') }}');">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to ShareSpell</h1>
      <h2>Join our community of contributors who collectively weave the fabric of knowledge.</h2>
      {% if user_id is not none %}
      <a href="{{ url_for('get_posts_and_tags')}}" class="btn-get-started scrollto">Get Started</a>
      {% else  %}
      <a href="{{ url_for('auth.login')}}" class="btn-get-started scrollto">Get Started</a>
      {% endif %}
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{users}}" class="purecounter">0</span>
                  <p>Happy Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="{{posts}}" class="purecounter">0</span>
                  <p>Posts</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                  <p>Years of experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                  <p>Subscriptions</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row" id="about">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="{{ url_for('static' , filename = 'video.png') }}" class="img-fluid" alt="">
            <a href="https://youtu.be/1wQGSx2OXDw" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>
              Step into ShareSpell: Unleashing collective wisdom for shared learning.</h3>
          <p class="fst-italic">
              Dive into the enchanting world of ShareSpell, where minds converge to explore insights, expertise, and shared resources.
          </p>
          <ul>
              <li><i class="bx bx-check-double"></i> Join a vibrant community of learners and contributors.</li>
              <li><i class="bx bx-check-double"></i> Share your expertise through insightful blogs and suggestions.</li>
              <li><i class="bx bx-check-double"></i> Engage in meaningful discussions through comments and interactions.</li>
              <li><i class="bx bx-check-double"></i> Shape the narrative of shared learning with every post you contribute.</li>
          </ul>
          <p>
              ShareSpell offers a platform where knowledge is shared, discussions thrive, and collective learning becomes a masterpiece.
          </p>
            
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= ServicesSection ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>Support Our Mission</h3>
          <p>At ShareSpell, our mission is to cultivate a space where knowledge flows freely, and wisdom is shared generously. By contributing, you play a vital role in fostering a community-driven platform for collective learning and growth.
          Join us on this journey, where each interaction adds to the tapestry of knowledge, creating a masterpiece that benefits everyone. Subscribe to stay connected or contribute financially to support our shared vision.</p>
          <!-- <a class="cta-btn" href="#">Contribute Now</a> -->
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Our Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6"  data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box" >
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">User Registration and Profiles</a></h4>
              <p class="description">Regular users can easily register, create, and manage their profiles, providing a personalized space for them to share insights and connect with the community.</p>
            </div>
          </div>
          <div class="col-md-6"  data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Resourceful Blogging</a></h4>
              <p class="description">Both Regular and Admin users can contribute to the community by sharing valuable resources, suggestions, and insights in the form of blogs. Each post is categorized, tagged, and can be upvoted or downvoted by the community.</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Content Moderation (Admin):</a></h4>
              <p class="description">Admins can maintain a high-quality environment by deleting inappropriate posts and addressing user-reported content. This ensures a safe and respectful community for all users.</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Interactive Comments Section</a></h4>
              <p class="description">Engage in meaningful discussions with the interactive comments section available on each post. Users can comment on posts, fostering a collaborative learning environment.</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">User-Friendly Post Management</a></h4>
              <p class="description">Users have full control over their posts. They can write, delete, and update their own posts, ensuring a dynamic and evolving knowledge-sharing platform.</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Category Creation and Management (Admin)</a></h4>
              <p class="description">Admin users have the authority to create new categories, facilitating organized content. This ensures that posts are classified appropriately for easy navigation and discovery.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>ShareSpell</h3>
            <p>Step into the enchanted world of ShareSpell & explore the collective wisdom of our community. Dive into a tapestry of insights, expertise, and shared resources. Each post is a brushstroke, contributing to a masterpiece of knowledge. Join us in shaping the narrative of shared learning.</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="#services">Services</a></li>
             
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> sharespell@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
   
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static' , filename = 'purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'aos.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'glightbox.min.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static' , filename = 'noframework.waypoints.js') }}"></script>


  <!-- Template Main JS File -->
  <script src="{{ url_for('static' , filename = 'main.js') }}"></script>

</body>

</html>