body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-source-serif-pro: "Source Serif Pro";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #6b6b6b;
  --color-gray-100: #242424;
  --color-whitesmoke: #f2f2f2;
  --color-forestgreen-100: #1a8917;

  /* Border radiuses */
  --br-1367xl: 1386px;
}
